<footer class="footer flex">
  <div class="socials">
    <h4 style="text-decoration: underline">Connect with us</h4>
    <a href="#" style="padding-left: 0"
      ><i class="fa-brands fa-instagram"></i
    ></a>
    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
    <a href="#"><i class="fa-brands fa-youtube"></i></a>
  </div>
  <div class="flex">
    <div>
      <h6>For Help you can email us :</h6>
      <ul type="none">
        <li><a href="#">abc@gmail.com</a></li>
        <li><a href="#">def@gmail.com</a></li>
      </ul>
    </div>
    </div>
    <div id="feedback">
      <h6>Or give us a feedback :</h6>
      <a href="/fdBack">Give Feedback</a>
    </div>
  </footer>
